body {
    font-family: Arial, sans-serif;
    background-color: #ddb4e9;
  
  }
  
  
  header {
    background-color: #ca54ee;
    padding: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  h1 {
    color: rgb(4, 4, 85);
    font-family: fantasy;
    font-size: 1in;
    display: inline-block;
    margin: 0;
  }
  
  ul {
    color: #ca54ee;
    margin: 0;
    position: absolute;
    top: 80px;
    right: 20px;
    font-weight: bold;
  }
  
  li {
    padding: 3px;
    display: inline-block;
    margin-right: 10px;
  }

#foodTable {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    border: 1px solid black;
  }
  
  #foodTable thead {
    background-color: #f2f2f2;
    font-weight: bold;
    border: 1px solid black;
  }
  
  #foodTable th {
    padding: 8px;
    border: 1px solid black;
  }

  footer {
    background-color: #ca54ee;
    color: rgb(4, 4, 85);
    padding: 20px;
    text-align: center;
  
  
    left: 0;
    width: 100%;
    margin-top: 20px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }